streamlit
sentence-transformers
scikit-learn
faiss-cpu
python-dotenv
PyPDF2
pypdf
torch
transformers
langchain>=0.2.12
langchain-core>=0.2.35
langchain-community>=0.2.10
langchain-groq>=0.1.4

